<div class="container">
  <div class="row">
    <div class="col-sm-6 my-4">
      <h5 class="text-center"><span class="bg-light">商品新規登録</span></h5>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-4">
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>