<div class="container">
  <div class="row">
    <div class="col-sm-6 my-4">
      <h5 class="text-center"><span class="bg-light">商品新規登録</span></h5>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 my-4 text-center">
      <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
        <div class="form-group">
          <label class="col-3">商品画像</label>
          <%= f.attachment_field :image %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>