<div class="container">
  <div class="row">
    <div class="col-sm-12 my-4">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center my-4">
      <h1>ご注文ありがとうございました！</h1>
    </div>
  </div>
</div>